@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #658338;
}

h1 {
  color: white;
}

h3 {
  color: white;
  font-style: italic;
  text-decoration: underline;
}

.description {
  color: white;
  margin: 1rem;
}

.app {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0px 50px 0px;
}

.question-area {
  max-width: 1000px;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;

}
.question-box {
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 20px;
  margin: 10px; 
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-button {
  display: flex;
  flex-direction: column;
}


button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: brown;
  color: white;
}

button:disabled{
  background-color: darkgray;
  color: darkolivegreen;
}

select {
  margin:5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: coral;
  color: white;
}

.back-button {
  margin: 5px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: coral;
  color: white;
}